@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');





body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}

.historiaCafeteria{
    
    grid-row: 1/ 2;
    grid-column: 1/7;
    background-color: #F5CEDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 54vh;
    border-bottom: 2px solid black;

}

p{
    width: 45%;
}

.historiaCafeteria img{
    width: 30vw;
    height: 20vh;
    margin-top: 6vh;
    margin-bottom: 3vh;
    border-radius: 12px;
    object-fit: cover;

    
}

.iniciosCaferia{
    grid-column: 1/ 7;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center ;
    margin-top: 3vh;    
}

.iniciosCaferia p{
    width: 60%;
}

.imagenesHsitoria{
    display: flex;
    gap: 4vh;
    margin-top: 6vh;
}

.imagenesHsitoria img{
    width: 15vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 12px;
}

.actualidadCafeteria{
    display: grid;
    grid-column: 1/ 7;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #F5CEDD ;
    border-top: 2px solid black;
}


.actualidadCafeteria img{
    height: 35vh;
    width: 30vw;
    object-fit: cover;
    margin-top: 4vh;
    border-radius: 12px;
}


